---
import '@styles/Global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<canvas class="webgl"></canvas>
		<script>
			import '../scripts/index'
		</script>
	</body>
</html>
